body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Nunito Sans-Regular", sans-serif;
}

.main-container {
  padding: 0 15px;
}
@media (max-width: 1024px) {
  .main-container {
    padding: 0 112px;
  }
}
.main-container .form-input {
  display: block;
  max-width: 340px;
  margin-bottom: 15px;
}
.main-container .form-input label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.main-container .form-input input {
  display: block;
  height: 42px;
  width: 100%;
  font-size: 17px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.main-container .form-input input::active, .main-container .form-input input::focus {
  border-color: #66afe9;
}

.login,
.registration {
  max-width: 480px;
  margin: 0 auto;
}
.login form .form-container,
.registration form .form-container {
  background: #f6f6f6;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 48px 16px;
}
@media (max-width: 1024px) {
  .login form .form-container,
  .registration form .form-container {
    padding: 24px;
  }
}
.login form .form-container .form-input,
.registration form .form-container .form-input {
  margin: 0 auto 15px;
}
.login form .form-container .form-action,
.registration form .form-container .form-action {
  text-align: center;
}