<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DigitBanking</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.example.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.example.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.example.servlets.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.example.servlets.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>com.example.servlets.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.example.servlets.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZelleContactServlet</servlet-name>
    <servlet-class>com.example.servlets.ZelleContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZelleContactServlet</servlet-name>
    <url-pattern>/zelle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZelleTransferServlet</servlet-name>
    <servlet-class>com.example.servlets.ZelleTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZelleTransferServlet</servlet-name>
    <url-pattern>/zelle/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZelleAddContactServlet</servlet-name>
    <servlet-class>com.example.servlets.ZelleAddContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZelleAddContactServlet</servlet-name>
    <url-pattern>/zelle/add-contact</url-pattern>
  </servlet-mapping>
</web-app>